<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Material en Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Tabla de registros -->
  <ion-grid>
    <ion-row class="table-header ion-text-center">
      <ion-col size="3"><strong>Usuario</strong></ion-col>
      <ion-col size="4"><strong>Fecha</strong></ion-col>
      <ion-col size="3"><strong>Estatus</strong></ion-col>
      <ion-col size="2"><strong>Grupo</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let registro of registros" class="table-row ion-text-center">
      <ion-col size="3">{{ getNombreUsuario(registro) }}</ion-col>
      <ion-col size="4">{{ registro.fechaPrestamo | date:'short' }} {{ registro.horaSolicitud }}</ion-col>
<ion-col size="3">
  <div
    class="estado-circulo"
    [ngStyle]="{ 'background-color': getEstadoColor(registro.estado) }">
  </div>
</ion-col>
      <ion-col size="2">{{ getGrupoUsuario(registro) }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

