.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  color: var(--ion-color-medium);
  
  ion-icon {
    font-size: 64px;
    margin-bottom: 16px;
  }
}

ion-item {
  --padding-start: 8px;
  --inner-padding-end: 8px;
  
  ion-avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    ion-icon {
      font-size: 24px;
    }
  }
}

ion-badge {
  margin-left: 8px;
}