<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="tab1" href="/tabs-admin/tab1">
      <ion-icon name="eye-outline" aria-label="Visualización"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs-admin/tab2">
      <ion-icon name="time-outline" aria-label="Historial"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs-admin/tab3">
      <ion-icon name="filter-circle-outline" aria-label="Filtrar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs-admin/tab4">
      <ion-icon name="create-outline" aria-label="Documentos"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs-admin/tab5">
      <ion-icon name="person-circle-outline" aria-label="Usuario"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
