@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade-in 300ms ease-out forwards;
}



/* Card más compacta */
.equipment-card {
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.25s ease;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-4px);
  }
}

/* Imagen más baja (altura reducida) */
.equipment-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

/* Estado (badge) flotante */
.state-badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  padding: 4px 12px;
  border-radius: 16px;
  z-index: 20;
}

/* Menor espacio vertical en descripción */
.description {
  font-size: 1rem;
  line-height: 1.3;
  margin: 0.25rem 0;
  color: var(--ion-color-medium);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.category {
    font-size: 1.5rem;
  line-height: 1.5;
  margin: 0.25rem 0;
}

.model {
    font-size: 1rem;
  line-height: 1.3;
  margin: 0.25rem 0;
}

/* Compactar QR */
.qr-wrapper {
  margin-top: 0.5rem;

  .qr-image {
    width: 72px;
    height: 72px;
    margin-top: 0.25rem;
  }
}

/* Botón compacto */
ion-button {
  --border-radius: 20px;
  font-size: 1rem;
  padding: 0.4rem;
  margin-top: 0.5rem;
}

/* Reducción de headers */
ion-card-header {
  padding: 2px 3px;
  ion-card-title {
    font-size: 1.3rem;
    padding: 5px 6px;
  }
  ion-card-subtitle {
    font-size: 0.7rem;
    color: var(--ion-color-medium);
  }
}

/* Responsive Grid espaciado */
ion-row {
  --ion-grid-column-padding: 10px;
  --ion-grid-padding: 10px;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  .equipment-card {
    background: var(--ion-color-step-50);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  }

  .description {
    color: var(--ion-color-light);
  }
}
